.faq {
  padding: 64px 0;
}
.icon-divider {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 20px;
}
.faq-title {
  padding: 24px 0;
  font-family: 'Cormorant', serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}
.faq-description {
  padding-top: 24px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.faq-question {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  min-height: 121px;
  padding: 20px 72px 20px 24px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: #000000;
  border: 0;
  background-color: transparent;
}
.faq-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq-icon {
  position: absolute;
  right: 24px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  color: black;
}

@media only screen and (min-width: 768px) {
  .faq-question {
    height: auto;
  }
}
.faq-answer {
  display: none;
  padding: 0 24px 24px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
.faq-item {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  border-radius: 24px;
  background-color: #faf7e6;
  overflow: hidden;
}
